@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .my-button{
      color:white;
      padding: 12px 16px 12px 16px;
      border-radius:10px;
      border: solid white 1px;
      font-weight: 600;
      padding: 4px;
    }
    .my-input{
        color:grey;
        font-family: 'Times New Roman', Times, serif;
        width: 80%;
        height: 25px;
        border: solid;
        border-radius: 5px;
        padding: 3px;
    }
  }
   
  @layer utilities{
    .flex-center{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }